<div class="row">
  <!-- left column -->
  <div class="col-md-6">
    <!-- general form elements -->
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">訪問依頼</h3>
      </div><!-- /.box-header -->
      <!-- form start -->
      <%= form_for(@work, url: u_request_confirm_path, html: { role: 'form' }) do |f| %>
        <div class="box-body">
          <div class="form-group">
            <label for="exampleInputEmail1">訪問日時</label>
            <div class='input-group datepicker'>
              <%= f.text_field :start_at, class: 'form-control', placeholder: '訪問してもらいたい日時を入力' %>
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">訪問場所</label>
            <%= f.text_field :address, class: "form-control", placeholder: 'ご自宅のご住所等、訪問してもらいたい場所を入力' %>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">依頼内容(オプション)</label>
            <% Commission.all.each do |c| %>
              <div class="checkbox">
                <label>
                  <%= check_box_tag "commissions[]", c.id %> <%= c.name %>
                </label>
              </div>
            <% end %>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">この人にお願いする</label>
            <%= select :area, :name, [['全地域', nil]] + (Area.all.map{|t| [t.name, t.id]}) %>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="col-lg-1 text-center"></th>
                  <th class="col-lg-2 text-center">名前</th>
                  <th class="col-lg-3 text-center">自己紹介</th>
                  <th class="col-lg-3 text-center">スケジュール</th>
                  <th class="col-lg-3 text-center">得意</th>
                </tr>
              </thead>
              <tbody class="supporterList">
              </tbody>
            </table>
          </div>
          <div class="box-footer clearfix">
            <%= f.submit "確認", class: "btn btn-lg btn-primary pull-right", data: { disable_with: '' } %>
          </div>
        </div>
      <% end %>
    </div><!-- /.box -->
  </div>
</div>

<script type="text/template" id="supporterTemplate">
  <tr class="table_work_supporter">
    <td class="text-center">
      <input id="work_supporter_id_{{= id }}" name="work[supporter_id]" type="radio" value="{{= id }}">
    </td>
    <td>
      <img alt="User Image" class="img-circle" height="75" src="{{= profile_image }}" width="75"><br />
      {{= name }}
    </td>
    <td>
      {{= description }}
    </td>
    <td>
      {{ if (_.size(services) > 0) { }}
        <ul>
          {{ _.each(services, function(serv) { }}
            <li>{{= serv.week_name }}：{{= serv.start_time }} ~ {{= serv.end_time }}</li>
          {{ }); }}
        </ul>
      {{ } }}
    </td>
    <td>
      {{ if (_.size(commissions) > 0) { }}
        <ul>
          {{ _.each(commissions, function(com) { }}
            <li>{{= com.name }}</li>
          {{ }); }}
        </ul>
      {{ } }}
    </td>
  </tr>
</script>
