 <div class="row">
  <div class="col-md-12">
    <div class="box">
    <div class="box-header">
    <h3 class="box-title">あなたに依頼されているお仕事の一覧</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
      <table class="table table-striped">
      <tr>
        <th class="col-lg-3 text-center">開始日時</th>
        <th class="col-lg-3 text-center">依頼場所</th>
        <th class="col-lg-2 text-center">依頼内容</th>
        <th class="col-lg-2 text-center">依頼者</th>
        <th class="col-lg-2 text-center"></th>
      </tr>
      <% @works.each do |work| %>
      <tr>
        <td class="text-center"><%= work.start_at.strftime("%Y/%d/%m %H:%M") %> 〜 <%= work.end_at.strftime("%H:%M") %></td>
        <td></td>
        <td>
        <ul>
        <% work.commissions.each do |c| %>
          <li><%= c.name %></li>
        <% end %>
        </ul>
        </td>
        <td class="text-center">
        <%= image_tag work.user.user_profile.profile_image, class: "img-circle", alt: "User Image", size: "75x75" %><br>
        <%= work.user.email %>
        </td>
        <td class="text-center"><%= link_to "中継開始", "", class: "btn btn-lg btn-primary" %></td>
      </tr>
      <% end %>
      </table>
    </div><!-- /.box-body -->
    <div class="box-footer clearfix">
    </div>
    </div>
  </div>
</div>